@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Indalecio Gómez 4289<br />
    Villa Lynch, Buenos Aires, Argentina<br />
    <abbr title="Phone">P:</abbr>
    054 11 47553093
</address>

<address>
    <strong>Support:</strong> <a href="mailto:pablolsperoni@gmail.com">pablolsperoni@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:pablolsperoni@gmail.com">pablolsperoni@gmail.com</a>
</address>
